
[Unit]
Description=RasPi Notifications Ultimate (Flask) on port 8899
After=network.target

[Service]
WorkingDirectory=/opt/raspipush_ultimate
Environment="PYTHONUNBUFFERED=1"
ExecStart=/opt/raspipush_ultimate/venv/bin/python /opt/raspipush_ultimate/app.py
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
